/*background image is gemaakt met https://mycolor.space/gradient3*/
/*het is een artistieke site dus mag veel kleur hebben*/

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px auto auto auto auto 50 pxfr;
  color: black;
  background-image: linear-gradient(
    to right top,
    #ff9976,
    #ffa78d,
    #ffb5a2,
    #ffc3b7,
    #ffd2cb,
    #ffcecc,
    #ffcacd,
    #ffc6d0,
    #feafcd,
    #f49ad4,
    #df89e1,
    #ba7ef3
  );
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: small;
}

h1,
h2,
h3,
h4 {
  font-family: "Poor Story", cursive;
  color: #ad6e68;
  font-size: xx-large;
  text-align: center;
}
h3,
h4 {
  text-align: start;
}

img {
  border: 5px solid rgb(0, 0, 0);
  display: block;
  width: 100%;
  height: auto;
}
/*portretten moeten rond zijn ook handig voor testimonials border-radius 50%*/
.portret {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 100%;
}

iframe {
  max-width: 100%;
}
/* code voor lose delen begint hier*/
/*index/basis*/
nav {
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  margin-bottom: 5px;
}

nav button {
  background-color: #ff9976;
  box-shadow: inset 2px 2px 5px 2px#ffc6d0;
  border-radius: 10%;
  margin: 5px;
}

header {
  grid-area: 2/1/2/3;
  border: 3px solid black;
  background-image: linear-gradient(
    to right top,
    #ff9976,
    #ffa78d,
    #ffb5a2,
    #ffc3b7,
    #ffd2cb,
    #f8cec9,
    #f0cbc6,
    #e9c7c4,
    #dab0ac,
    #cc9a95,
    #bd847e,
    #ad6e68
  );
  border-radius: 10px;
  margin-bottom: 5px;
}

section {
  margin: 0 5px 20px 5px;
}
section.section1 {
  grid-area: 3/1/3/3;
  display: flex;
  flex-direction: column;
}

section.section2 {
  grid-area: 4/1/4/3;
  display: flex;
  flex-direction: column;
}

section.section3 {
  grid-area: 5/1/5/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
}

div.review {
  margin: 10px;
  padding-left: 5px;
  border: 1px solid black;
}

div.review img {
  width: 80%;
  height: auto;
 
}

div.desc {
  text-align: center;
}

footer {
  grid-area: 6/1/6/3;

  background-color: #df89e1;
  color: brown;
  display: flex;
  justify-content: center;
}

h2.section3 {
  grid-area: 1/1/2/3;
}

#revieuw1 {
  grid-area: 2/1/2/2;

  
 
}

#revieuw2 {
  grid-area: 2/2/2/3;
}
#revieuw3 {
  grid-area: 3/1/4/2;
}
#revieuw4 {
  grid-area: 3/2/4/3;
}
/*orderform*/
main {
  grid-area: 3/1/5/3;
}
textarea {
  max-width: 95%;
}
form {
  border: 5px solid #ad6e68;
  padding: 4px;
}
/*Gallery*/
div.gallery {
  margin: 10px;
  border: 1px solid black;
  float: left;
  width: 45%;
}

div.gallery:hover {
  border: 5px solid #f49ad4;
  background-color: #f8cec9;
}

div.gallery img {
  width: 95%;
  height: auto;
}

div.desc {
  text-align: center;
}

form.galleryform {
  grid-area: 5/1/5/3;
}
/*about me */

/*contact*/

/*links*/

/* basis voor website, van groot naar klein 
is makkelijker voor mijn brein, helaas mag dat van Winc niet zo zijn,
daarom voor 1 keer andersom proberen,(opmerking voor later eigengebruik)*/
/*mediaqueries. */


/* Tablets (portrait)
minimal width : 768px*/
@media (min-width: 768px) {
 
section.section1{ display:flex;
  align-content: center;}
  section.section1 img{ max-width: 50%;
  ;
}

  form.galleryform {
    grid-area:5/1/5/2;
  }
div.gallery{
  max-width: 30%
}  

}
  



/*// Desktop 
minimal width : 1024px
